/* .adminLoginBox {
    background-color: #f0f0f0;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
  }
  
  .adminLoginBox h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .adminLoginBox input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .adminLoginBox button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .adminLoginBox button:hover {
    background-color: #555;
  }
  
  .signIN_creataccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .create_account {
    cursor: pointer;
    color: #333;
    font-size: 16px;
    text-decoration: underline;
  }
  
  .create_account:hover {
    color: #555;
  }
   */