/* .navbar{
    height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .admin_login {
    width: 50%;
    padding: 50px;
  }
  
  .userlogin {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .userLoginBox {
    background-color: white;
    width: 300px;
    height: 300px;
   
    border-radius: 10px;
  }
  
  .userLoginBox h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .userLoginBox input {
    background: #FFFFFF ;
    border: 3px solid #D1D1D1;
    border-radius: 4px;
    opacity: 1;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
  }
  
  .userLoginBox p {
    text-align: right;
    margin-bottom: 20px;
    font-size: 10px;
    color: #04425A;
  }
  
  .signIN_creataccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#4E94F4;
    float: right;
  }
  
  .signIN_creataccount button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signIN_creataccount .create_account {
    color: #4E94F4;
    cursor: pointer;
  }
   */


   /* Navbar styles */
/* .Navbar {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.adminlogin {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  /* max-width: 400px; */
  display: flex;
  gap: 25px;
} 


.userlogin {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

/* Shared input styles */
.userlogin-input,
.admin-input,
.userSignup-input {
  margin: 10px 0;
}

.userlogin-input input,
.admin-input input,
.userSignup-input input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #cccccc;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Button styles */
.signup-btn,
.sign-btn {
  background-color: #0077ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-btn:hover,
.sign-btn:hover {
  background-color: #0066cc;
}
