.navbar{
    height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
  }
  
  .admin_login {
    width: 50%;
    padding: 50px;
  }
  
  .userlogin {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .userLoginBox {
    background-color: white;
    width: 300px;
    height: 300px;
   
    border-radius: 10px;
  }
  
  .userLoginBox h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .userLoginBox input {
    background: #FFFFFF ;
    border: 3px solid #D1D1D1;
    border-radius: 4px;
    opacity: 1;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
  }
  
  .userLoginBox p {
    text-align: right;
    margin-bottom: 20px;
    font-size: 10px;
    color: #04425A;
  }
  
  .signIN_creataccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#4E94F4;
    float: right;
  }
  
  .signIN_creataccount button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signIN_creataccount .create_account {
    color: #4E94F4;
    cursor: pointer;
  }





  /* .containerU {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    }
    
    .booking_dateU {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    }
    
    .booking_headingU {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    }
    
    .StartDateU,
    .EndDateU,
    .originU,
    .destinationU {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #333;
    }
    
    .StartDateU::placeholder,
    .EndDateU::placeholder,
    .originU::placeholder,
    .destinationU::placeholder {
    color: #aaa;
    }
    
    button {
    background-color: #4caf50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    }
    
    button:hover {
    background-color: #2e8b57;
    } */